<!-- <!DOCTYPE html>
<html>
  <title></title>
  <body>
    <h1>
      {{title}}
    </h1>

    <ul>
      <li *ngFor="let book of books.books">
        {{ book.name }}
      </li>
    </ul>

    <router-outlet></router-outlet>
  </body>
</html> -->
<!DOCTYPE html>
<html>
  <title></title>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
