<!DOCTYPE html>
<!-- This file template contains a registration form, with first name, last name, username, and password form fields. -->
<!-- It will also display validation messages for invalid fields using bound errors. -->

<html>
  <title></title>
  <body>
    <div class="card">
    <h4 class="card-header">Register</h4>
      <div class="card-body">
        <!-- The form uses [formGroup] in order to bind itself to the register component in register.component.ts -->
        <!-- It also binds the submit event (ngSubmit) to the `onSubmit()` method -->
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
            </button>
            <!-- See corresponding routerLink in app-routing.module.ts -->
            <a routerLink="../login" class="btn btn-link">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
